.vscode/**
.vscode-test/**
out/**
node_modules/**
src/**
main_scripts/**
tests/**
.gitignore
.yarnignore
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/*.ts
build.bat
stop_all_processes.bat
old_script.js
fix_state.js
git_log.txt
*.vsix
webview/**
